*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
   font-size: 62.5%;
}



body{
    font-size: 1.6rem;
}

.container{
    border: .3rem solid black;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 50vh;
    
}

.box{
    width: 10rem;
    height: 10rem;
}

.box1{
    background-color: blue;
}

.box2{
    background-color: violet;
}

.box3{
    background-color: blueviolet ;
}

.box4{
    background-color: aqua;
}

.box5{
    background-color:brown;
}

.box6{
    background-color: chartreuse;
}